<h2 id="title">Ember Modal Dialog</h2>

{{outlet}}

<button {{action "toggleModal"}}>Toggle Modal</button>

{{#if isShowingModal}}
  {{#modal-dialog alignment='center'
                  overlayClassNames='red-wedding'
                  containerClassNames='red-container'
                  hasOverlay=true
                  close='toggleModal'}}
    Oh hai there!
  {{/modal-dialog}}
{{/if}}
