<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}

<button {{action "toggleModal"}}>Toggle Modal</button>

{{#if isShowingModal}}
  {{#modal-dialog alignment='center'}}
    Oh hai there!
  {{/modal-dialog}}
{{/if}}
